<div class="form-group mxClockPickerMainContainer" data-dojo-attach-point="mxClockPickerMainContainer">
    <label class="control-label mxClockPickerLabel" data-dojo-attach-point="mxClockPickerLabel"></label>
    <div class="mxClockPickerInputGroupContainer" data-dojo-attach-point="mxClockPickerInputGroupContainer">
        <div class="input-group clockpicker" data-dojo-attach-point="mxClockPickerInputGroup">
            <input type="text" class="form-control mxClockPicker" data-dojo-attach-point="mxClockPicker">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
</div>